#slider-footer {
    padding: 2%;
    margin-top: -100px;
    height: 200px;
    border: 2px solid;
    border-color:rgba(177, 175, 175, 0.7);
    width: 800px;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    translate: -50%;
}
#slider-footer::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
    position: absolute;
    z-index: -1;
    background:rgba(255,255,255,0.7);
}

#third-row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#third-row .card {
    width: 31%;

}
.h2-title {
    text-align: center;
    margin: 30px;
}

#bottom-container {
    display: flex;
    height: 300px;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
}

#bottom-container img {
    max-height: 300px;
    flex: 3;
}
#bottom-container div {
    padding: 15px;
    flex: 1;
    text-align: center !important;
}

.medium-header::after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 50px;
    border-bottom: 1px solid #000;
    padding-bottom: 18px;
}
    .rooms{
        display: flex;
        height: 500px;
        justify-content: center;
        gap: 7px;

    
}
.imageDiv div {
    width: 700px !important;
}
/*
.rooms img{
    overflow: hidden;
    position: relative;

} */
.image-container {
    width: 300px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    overflow: hidden; /* Hide content that overflows the container */
    position: relative;
    display: flex;
}

.image-slider {
    display: flex;
    width: 900px; /* 300px * 3 images */
    transition: left 0.3s; /* Smooth transition when changing images */
}

img {
    width: 300px;
    height: 200px;
}

button {
    margin-top: 10px;
}

/* The search style */


/* Style the container to position it relative and hide the list by default */

.autocomplete-container {

    position: relative;

    display: inline-block;

}

/* Style the input field */

#cityInput {

    width: 200px;

    padding: 10px;

}

/* Style the autocomplete list */

.autocomplete-list {

    position: absolute;

    z-index: 1;

    top: 100%;

    left: 0;

    right: 0;

    background-color: #fff;

    border: 1px solid #ccc;

}

/* Style list items */

.autocomplete-list-item {

    padding: 10px;

    cursor: pointer;

}

/* Highlight the selected item */


input[type='date'] {
    color:  rgba(255,122,122,.5);
    border: 1px solid  rgba(255,122,122,.5);
    border-radius: 5rem;
}